<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%# <%= image_pack_tag 'logo.png'%>
      <span class="navbar-title">Foodie Social</span>      
      <div class="navbar-item">
        <span class="navbar-text">吃 好吃滿</span>
      </div>

    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-item">
      <div class="field has-addons">
        <div class="control">
          <input class="input is-primary" type="text" placeholder="今天我想來點......">
        </div>
        <div class="control">
          <a class="button is-primary ">
            <i class="fas fa-search"></i> &nbsp; 搜尋
          </a>
        </div>
      </div>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>