/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* navbar */
 .navbar-text {
     font-size: 22px;
     font-weight: 500;
 }

 .navbar-title {
    font-size: 30px;
    font-weight: 350;
    color: rgb(76, 139, 202);
}

/* div.control.input {
    width: 100%;
} */

/* user_edit_page */
.field-1.label {
    margin-top: 1em;
}
.actions-1 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
div.actions {
    margin-bottom: 0.3em;
}

div.delete-account-button {
    margin-bottom: 0.8em;
}
tr.t1{
 text-align: left;
}


